@using Ratio_Lyrics.Web.Helpers
@model SongViewModel

@{
    ViewData["Title"] = "Song Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var viewNumber = StringHelper.FormatViews((int)Model.Views);
}

<h1>Details</h1>

<div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-1" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            Song Information
        </button>
    </h2>
    <div id="panelsStayOpen-1" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DisplayName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DisplayName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Image)
                </dt>
                <dd class="col-sm-10">
                    @if (string.IsNullOrEmpty(Model.ImageUrl))
                    {
                        <img src="/images/songs/no-song.png" style="height:250px;width:auto" alt="@Model.Name" />
                    }
                    else
                    {
                        <img src="@Model.ImageUrl" style="height:250px;width:auto" alt="@Model.Name" class="js_img_changeTarget" />
                    }
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Background)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Background)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </dt>
                <dd class="col-sm-10">
                    @Model.ReleaseDate.ToString("dd/MM/yyyy")
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SearchKey)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SearchKey)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Views)
                </dt>
                <dd class="col-sm-10">
                    @viewNumber
                </dd>               
                @if (Model.MediaPlatformLinks != null && Model.MediaPlatformLinks.Any())
                {
                    <dt class="col-sm-2">
                        Media Links
                    </dt>
                    <dd class="col-sm-10">
                        <div>
                            @foreach (var item in Model.MediaPlatformLinks)
                            {
                                if (string.IsNullOrWhiteSpace(item.Link)) continue;
                                <a href="@item.Link" target="_blank">@item.Name</a>

                                <span> | </span>
                            }
                        </div>
                    </dd>
                }

                @if (Model.Artists != null && Model.Artists.Any())
                {
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Artists)
                    </dt>
                    <dd class="col-sm-10">
                        @string.Join(", ", Model.Artists.Select(x => x.Name))
                    </dd>
                }

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ModifiedDate)
                </dd>
            </dl>
        </div>
    </div>
</div>

<partial name="/Areas/Admin/Views/Song/Partial/_SongLyrics.cshtml" model="Model" />

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
