@using Ratio_Lyrics.Web.Areas.Admin.Models.User

@model ListUsersViewModel<UserViewModel>

@{
    ViewData["Title"] = "Employee Management";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var language = "vi-VN";
    string detailParam = ViewBag.DetailParam != null ? ViewBag.DetailParam : "Index";
}

<h1>Employee Management</h1>

<p>
    <span>
        <a asp-action="CreateEmployee">Create employee</a>
    </span>
    <span>
        <form asp-action="FilterOrder">
            <div class="form-control">
                @if (Model.AvailableFilters != null && Model.AvailableFilters.Any())
                {
                    foreach (var item in Model.AvailableFilters)
                    {
                        <label for="@item.FieldName">@item.FieldName:</label>
                        <input type="text" name="@item.FieldName" id="@item.FieldName" value="@Model.FilterItems?.FirstOrDefault(x=>x.FieldName.Equals(item.FieldName))?.Value" />
                    }
                }

                <input type="hidden" name="isClientUser" value="false" />
                <input type="hidden" name="actionRedirect" value="@detailParam" />
                <input type="hidden" name="page" value="1" />
                <input type="submit" value="Filter" />
            </div>
        </form>
    </span>
</p>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Email
                </th>               
                <th>
                    Display Name
                </th>
                <th>
                    Role
                </th>
                <th>
                    Phone Number
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @if (Model.Users != null && Model.Users.Any())
            {

                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modeluser => user.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modeluser => user.DisplayName)
                        </td>
                        <td>
                            @string.Join(", ", user.UserRoles)
                        </td>
                        <td>
                            @Html.DisplayFor(modeluser => user.PhoneNumber)
                        </td>
                        <td>
                            <a asp-action="UpdateEmployee" asp-route-userId="@user.Id">Edit</a> |
                            <a asp-action="EmployeeDetail" asp-route-id="@user.Id">Details</a> |
                            <a asp-action="DeleteEmployee" asp-route-userId="@user.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<partial name="_AdminGridPaging" model="Model" />

