@using Ratio_Lyrics.Web.Helpers
@model HomeViewModel
@{
    ViewData["Title"] = "Home";
    var publicApiHost = Model.PublicApiUrl;
}
<input type="hidden" value="@publicApiHost" id="public-api-host" />
@if (Model != null && Model.SongModel != null && Model.SongModel.Id != 0)
{
    <div class="form-group row">
        <img src="/images/logos/ratiolyrics-logo-transparent.png" class="align-content-center mb-1" style="width:300px; height: auto" />
        <input type="text" id="input-search-songs" autocomplete="off" class="form-control col-6" />
    </div>
    <div id="searchResultDemoArea">        
    </div>
    <div id="songDetailArea">
        <h2>@Model.SongModel.DisplayName</h2>
        <div>
            <img src="@Model.SongModel.ImageUrl" alt="@Model.SongModel.DisplayName" style="height:300px;width:auto" />
        </div>
        <p>Views: @StringHelper.FormatViews((int)Model.SongModel.Views)</p>
        @if (Model.SongModel.Artists != null && Model.SongModel.Artists.Any())
        {
            <h3>Artist:</h3>
            <p><i>@string.Join(", ", Model.SongModel.Artists.Select(x => x.Name))</i></p>
        }
        <h3>Media Links:</h3>
        @if (Model.SongModel.MediaPlatformLinks != null && Model.SongModel.MediaPlatformLinks.Any())
        {
            <ul>
                @foreach (var item in Model.SongModel.MediaPlatformLinks)
                {
                    if (string.IsNullOrEmpty(item.Link)) continue;
                    <li><a href="@item.Link" target="_blank">@item.Name</a></li>
                }
            </ul>
        }

        <div>
            <h3>Lyrics:</h3>
            <div>@Html.Raw(Model.SongModel.Lyric)</div>
        </div>
    </div>
}
else
{
    <div class="form-group row">
        <img src="/images/logos/ratiolyrics-logo-transparent.png" class="align-content-center mb-1" style="width:300px; height: auto" />
        <input type="text" id="input-search-songs" autocomplete="off" class="form-control col-6" />
    </div>
    <div id="searchResultDemoArea">        
    </div>
    <div id="songDetailArea"></div>

}

<div id="formCreateSongArea">
    <partial name="/Views/Home/Partial/Create.cshtml" model="Model" />
</div>

@if (Model != null && Model.CaptchaSettings.IsEnabled)
{
    @if (Model.CaptchaSettings.IsVersion2())
    {
        <script src="https://www.google.com/recaptcha/api.js" defer></script>
    }

    @if (Model.CaptchaSettings.IsVersion3())
    {
        <script src="https://www.google.com/recaptcha/api.js?render=@Model.CaptchaSettings.SiteKey"></script>
        <script>
            function onSubmit(token) {
                document.getElementById("js_contribute-song-form").submit();
            }
        </script>
    }
}

<script type="module" defer src="@Url.Content("~/js/home.js")"></script>